<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Web Tasks Organizer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type= "text/css" href="css/WebOrgHomePage.css" rel="stylesheet" />
	<link type="text/css" href="css/main.css" rel="stylesheet" />
</head>



<body>
	<div class="navbar navbar-expand-lg navbar-dark bg-primary">
		<header class="header">
			<form id="login">
				<div class="topbar-left" style="border: 2px solid black; border-radius: 5px;">
		
					<input type="button" class="btn btn-primary" onclick="window.location.href=window.location.origin+'/register';" value="Register" />
				</div>

				<div class="topbar-right" style="position: absolute; top: 20px; right: 16px;">
					<input name="loginName" id="Username" type="text" value="Email Address" onfocus="if (this.value=='Email Address') this.value='';" onblur="if (this.value=='') this.value='Email Address';" />
				
					<input name="userPassword" id="Password" type="password" value="Password" onfocus="if (this.value=='Password') this.value='';" onblur="if (this.value=='') this.value='Password';" />
				
					<input name="submitButton" id="Submit" value="Submit" type="button" />
				</div>
			</form>
		</header>
	</div>
   
            
         


	<div id="description">
	
	<h1>Welcome to Web Task Organizer!</h1>
		<p>The purpose of this website is to give users the ability to keep track of the work that has been done, needs to be done,
		and who is working on everything.  The current list of features include:</p>
		<ul>
			<li>Account Creation</li>
			<li>Creating Projects </li>
			<li>Adding tasks to projects</li>
			<li>Adding comments to a task</li>
			<li>Changing the status of a task via a drop down menu</li>
			<li>Add a deadline to each task</li>
		</ul>
		<p>Future updates and plans are working toward adding these features:</p>
		<ul>
			<li>Timer to track how long a task has been worked on/took to complete</li>
			<li>Inviting users to projects</li>
			<li>Dragging tasks through the different phases</li>
			<li>Retrieve/change a forgotten password</li>
		</ul>
		
	</div>

	<script src="http://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
	<script src="javascript/login.js"></script>


</body>

</html>