<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>My Projects</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/WebOrgMainPage.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

<header class="header">

    <form id="topBar">

        <div class="topbar-left">
            <select name="projectsBar" id="projectBar">
                <!-- Make choosing a different project refresh the tasks page. Maybe have a confirmation box.-->
                <option th:each="project : ${projects}"
                        th:id="'project_' + ${project.id}" th:text="${project.name}"></option>
            </select>
        </div>

        <div class="topbar-right">
            <div class="row">
                <p class="lead" style="margin-right:1rem;" th:text="'Welcome, ' + ${user.firstname} "></p>
                <input type="button" onclick="window.location.href=window.location.origin;" value="Sign Out"/>
                <!-- Add logout Functionality-->
            </div>
        </div>

    </form>

</header>

<div th:each="status : ${taskStatusTypes}" th:id="'status_' + ${status}">
    <h1 th:text="${status.toString()}"></h1>
    <div class="card-group">
        <div class="card" th:each="task : ${tasks}" th:if="${task.status} == ${status}"
             th:id="'task_' + ${task.id}" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title" th:text="${task.name}"></h4>
                <p class="card-text" th:text="${task.description}"></p>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>

<footer class="footer">

    <a id="naviconBot" href="#">
        <div class="btn-group-vertical" data-toggle="buttons">
            <button type="button" class="buttonBot1">New Project</button>
            <button type="button" class="buttonBot2"
                    onclick="window.location.href=window.location.origin+'/addTask'">New Task</button>
            <button type="button" class="buttonBot3">Invite User</button>
        </div>
    </a>

</footer>


</body>


</html>