<!DOCTYPE html>
<html>
	<head>
		<title>Web Organizer Registration</title>
		<link type="text/css" href="css/main.css" rel="stylesheet" />
	</head>
  
  <body>
  	<div id="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">

		 <input type="button" class="btn btn-primary" onclick="window.location.href= index.html;" value="Home" />
  	</div>

	<form id="regInfo">
		<legend> <h1>Registration Information</h1> </legend>
		First Name
		<input name="FName" id="firstName" required="required" type="text"/> <br/><br/>
		Last Name
		<input name="LName" id="lastName" required="required" type="text"/> <br/><br/>
		E-mail address
		<input name="e-Address" id="emailAddress" required="required" type="email"/> <br/><br/>
		Password
		<input name="pass" id="Password" required="required" type="password"/> <br/><br/>
		Confirm Password
		<input name="cPass" id="confirmPassword" required="required" type="password" oninput="check(this)"/> <br/><br/>
		<script language='javascript' type='text/javascript'>
			function check(password){
				if (password.value != document.getElementById('Password').value){
					password.setCustomValidity('Passwords must match.');
				}
				else{
					password.setCustomValidity('');
				}
			}
		</script>
		<input name="submitButton" id="Submit"  value="Submit" type="submit" />
		
	
	
	</form>
  </body>
  
  
  
  
  
  </html>