<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>My Projects</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/WebOrgMainPage.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

<header class="header">

    <form id="topBar">

        <div class="topbar-left">
            <select name="projectsBar" id="projectBar">
                <!-- Make choosing a different project refresh the tasks page. Maybe have a confirmation box.-->
                <option th:each="project : ${projects}"
                        th:id="'project_' + ${project.id}" th:text="${project.name}"></option>
            </select>
        </div>

        <div class="topbar-right">
            <div class="row">
                <p class="lead" style="margin-right:1rem;" th:text="'Welcome, ' + ${user.firstname} "></p>
                <input type="button" onclick="window.location.href=window.location.origin;" value="Sign Out"/>
                <!-- Add logout Functionality-->
            </div>
        </div>

    </form>

</header>

<div th:each="status : ${taskStatusTypes}" th:id="'status_' + ${status}">
    <h1 th:text="${status.toString()}"></h1>
    <div class="card-group">
        <div class="card" th:each="task : ${tasks}" th:if="${task.status} == ${status}"
             th:id="'task_' + ${task.id}" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title" th:text="${task.name}"></h4>
                <p class="card-text" th:text="${task.description}"></p>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>

<!--
<div class="notStarted">
    <h1>Not Started</h1>
    <div class="card-group">


        <div class="card">


            <div class="popup" id="cardPopup" onclick="myFunction()">

                <script>
				// When the user clicks on  open the popup
				function myFunction() {
					var popup = document.getElementById("myPopup");
					popup.classList.toggle("show");
				}


                </script>

                <span class="popuptext" id="myPopup"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
		laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
		laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
		laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
		laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></span>

                <div class="card-block">

                    <h4 class="card-title" id="cardTitle"> Card title 1</h4>
                    <p class="card-text" id="cardText">This is a wider card with supporting text below as a natural
                        lead-in to additional content. This card has even longer content than the first to show that
                        equal height action.</p>
                </div>
                <div class="card-footer" id="cardFooter">
                    Footer Text
                </div>

            </div>

        </div>


        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>

<div class="inProgress">
    <h1>In Progress</h1>
    <div class="card-group">
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>


<div class="testing">
    <h1>Testing</h1>
    <div class="card-group">
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>

<div class="finalizing">
    <h1>Finalizing</h1>
    <div class="card-group">
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
-->

<footer class="footer">

    <a id="naviconBot" href="#">
        <div class="btn-group-vertical" data-toggle="buttons">
            <button type="button" class="buttonBot1">New Project</button>
            <button type="button" class="buttonBot2">New Task</button>
            <button type="button" class="buttonBot3">Invite User</button>
        </div>
    </a>

</footer>


</body>


</html>